<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <style>
        .in-progress, .done, .tools {
            width: 100%;
            max-width: 1000px;
            margin: auto;
        }
    </style>
</head>
<body>

<div>
    <h2 style="text-align: center; margin: 100px">Task Manager</h2>

    <div class="tools" style="padding-bottom: 30px">

        <a style="float: left; color: forestgreen" href="/addTask">Add Task</a>
        <div style="float: right" class="sorting">
            <a href="/">All Tasks</a>
            <div style="display: inline" th:each="priority : ${T(pl.dm.taskmanager.Priority).values()}">
                <a th:href="|/?priority=| + ${priority.name()}" th:text="${priority.getPriorityName()}"></a>
            </div>
        </div>
    </div>

    <div class="in-progress">
        <h3>To Do: </h3>
        <ul class="list-group">
            <li class="list-group-item" th:each="task: ${tasks}" th:if="${task.doneOrNot} == false">
                <div>
                    <span style="text-align: left" th:text="${task.name}"></span>
                    <span style="padding-left: 10px; font-size: small" th:text="*{task.priority.getPriorityName()}"></span>
                    <a th:href="|/edit/| + ${task.id}" style="padding-left: 10px; font-size: small">Edit task</a>
                    <span style="float:right" th:text="|Created Date: | + ${task.createDate}"></span>
                </div>
            </li>
        </ul>
    </div>

    <div class="done" style="padding-top: 50px">
        <h3>Done Tasks:</h3>
        <ul class="list-group">
            <li class="list-group-item" th:each="task: ${tasks}" th:if="${task.doneOrNot} == true">
                <div>
                    <span style="text-align: left" th:text="${task.name}"></span>
                    <span style="padding-left: 10px; font-size: small" th:text="*{task.priority.getPriorityName()}"></span>
                    <a th:href="|/edit/| + ${task.id}" style="padding-left: 10px; font-size: small">Edit task</a>
                    <span style="float:right" th:text="|Copletion Date: | + ${task.createDate}"></span>
                </div>
            </li>
        </ul>
    </div>

</div>

</body>
</html>